<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=consumption-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style2.css">
  <title>Kalkulator efektywności energetycznej dla inteligentnych domów</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Oblicz emisje twojego samochodu!</h1>
      <p>Wykaż inicjatywę i rozwiąż problem zanieczysczania powietrza!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Podaj zużycie paliwa:</h2>
    <ul class="list" id="list">
      <!-- Zadanie #3 -->
      <li class="list__item">
        <a href="{{gas}}/1"> <!--Ustaw ścieżkę-->
          <img class="item__img" src="../static/img/Fuel gauge.png" alt="battery">
          <span>5L/100km lub więcej</span></a>
      </li>
      <li class="list__item">
        <a href="{{gas}}/2"> <!--Ustaw ścieżkę-->
          <img class="item__img" src="../static/img/Fuel gauge.png" alt="battery">
          <span>ok. 8L/100km</span></a>
      </li>
      <li class="list__item">
        <a href="{{gas}}/3"> <!--Ustaw ścieżkę-->
          <img class="item__img" src="../static/img/Fuel gauge.png" alt="battery">
          <span>10L/100km lub więcej</span></a>
      </li>
      <li class="list__item">
        <a href="{{gas}}/4"> <!--Ustaw ścieżkę-->
          <img class="item__img" src="../static/img/EV2.png" alt="battery">
          <span>Elektryczny lub Plug-in Hybryd</span></a>
      </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>