<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=consumption-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style2.css">
  <title>Kalkulator emisji Co2 pojazdu</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Oblicz emisje twojego samochodu!</h1>
      <p>Wykaż inicjatywę i rozwiąż problem zanieczysczania powietrza</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Ile kilometrów przejechał twój samochód?</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/1">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>100 km lub mniej</span></a>
      </li>
      <!-- Zadanie #1 -->
      <li class="list__item">
        <a href="/2">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>500 km</span></a>
      </li>
      <li class="list__item">
        <a href="/3">
        <img class="item__img" src="../static/img/home.svg" alt="home">
        <span>1000 km lub więcej</span></a>
      <!--  -->
      </li>
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
